@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300&display=swap');

body{
    font-family: 'Staatliches', cursive; 
    margin:0%;
    font-size: 35px;
}
h1{
    padding-top:20px;
    padding-left:20px;
    color:pink;
    font-size:50px;
}
.column{
    font-size:40px;
    border: 3px solid rgb(157, 206, 248);
    padding: 10px;
    margin:5px;
}
.para1{
    padding:20px;
    font-family: 'Smooch Sans', sans-serif;
    Float:left; 
    Width:66.6%; 
}
.para2{
    padding:20px;
    font-family: 'Smooch Sans', sans-serif;
    Float:left; 
    Width:66.6%; 
}

.para3{
    padding:20px;
    font-family: 'Smooch Sans', sans-serif; 
    Float:left; 
    Width:66.6%; 
}
.column {
    float: left;
    width: 30%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .container{
      padding:20px;
  }

  p{
    font-family: 'Smooch Sans', sans-serif;
    font-size: 30px;
  }